{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}{{ noProgramFound }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<p></p>
			<h2>Saison
				{{ season.number }}
				de
				{{ program.title}}</h2>
			<p>{{ season.description }}</p>
		</div>
	</div>

	<div>
		<h2>Détail des épisodes :
			{{ noEpisodeFound }}</h2>
		<ul>
			{% for episode in episodes %}
				<li>Titre de l'épisode :
					<a href="{{ path("program_episode_show", { programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug }) }}">{{ episode.title }}</a>
					<p>Synopsis :
						{{ episode.synopsis }}</p>
					<p>
						<a href="{{ path("program_episode_show", { programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug }) }}">Voir le détail de l'épisode</a>
					</p>
				</li>
			{% endfor %}
		</ul>
	</div>

	<a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche de {{ program.title }}</a></br>
	<a href="{{ path("category_show", { categoryName: program.category.name }) }}">Voir la catégorie</a>
</br>
<a href="{{ path('program_index') }}">
	Retour à la liste des programmes
</a>{% endblock %}
